<center>
	<h1>WHEELSHARE DOCUMENTATION</h1>
	<h2>ECS160 Project Demo</h2>
</center>


<h3>THE TEAM</h3>
<h4>Team members and  responsibility (who did what?)</h4>

<b>Cameron Jamison</b> <br>- Created Initial UML and business logic design of system</br>
<b>George Luna</b>	<br>- Created and maintained the Python back end and connected it to Google App Engine for data storage</br>
<b>Goldie Young</b>	<br>- Created UI and Activity Screens for App</br>




<h3>THE COMPONENTS</h3>
<h4>Layouts, logic classes, and the backend system.  
(A few lines (5  lines or so) on each relation/class.)
	
	<h5>LAYOUTS</h5>
	All layouts used a linear layout to maximize simplicity.
		<ul>
			<li>
				<strong>Login menu</strong></br>
				The Login Menu has the text fields to input your name and password. Buttons are included to Login or Register a new account. </br>
			</li>
			<li>
				<strong>Create A New Account menu</strong></br>
						User fills out a form, inputting their personal data. Includes their email, phone number, first and last name, and gender. </br>
			</li>
			
			<li>
				<strong>Main menu</strong></br>
				Here the user can choose whether to Offer a ride, Seek a ride, see all the rides they offered, and see all the trips they're accepted in.</br>
			</li>
			
			<li>
				<strong>Seeking Ride Menu</strong></br>
				Fills out a form describing the ride you're seeking. Asks for departure location, time, arrival location, and maximum flat rate the user can afford.</br>
			</li>
			
			<li>
				<strong>Offering Ride Menu</strong></br>
				Similar to Seeking Ride menu. Also requests user to set a flat rate fee and number of passengers. The option of making the car ride a weekly ritual is available.</br>
			</li>
		
		</ul>
	<h5>LOGIC CLASSES</h5>
		<ul>
			<li>
				<strong>DataObject</strong></br>
				A class that forms the basis for all of the other "Object" classes in the system. The object classes contain data that is used for processing data. Each object class extends this class.</br>
			</li>
			
			<li>
				<strong>Object Manager</strong></br>
				This is the only business logic class that does not extend the DataObject class. This class handles all of the business logic used on any object classes. This business logic includes user verification, sending messages, as well as adding/removing data from the app engine datastore. All of the data and methods in this class are static so that the class does not need to be instantiated.</br>
			</li>
			
			<li>
				<strong>Message</strong></br>
				This class stores data such as who the message should be delivered to/from as well as a specific ID that is later used to determine which kind of message should be sent.</br>
			</li>
			
			<li>
				<strong>User</strong></br>
				This object holds the data that is used when creating a WheelShare account. This data is later used for login validation as well as contact info for people that are participating in the same trip.</br>
			</li>
			
			<li>
				<strong>Passenger</strong></br>
				Passengers are similar to user objects except that they are specific for each trip. A user may be the passenger of more than one trip so, in that case, more than one passenger object would be related to that user.</br>
			</li>
			
			<li>
				<strong>Trip</strong></br>
				Trip objects are created after a User posts a "ride offered." Trips are differentiated by their departure and arrival locations as well as the date in which the trip was created for. The trip contains a flag called "Round Trip" which allows users to also set a return date on the trip. We started implementing a "Frequent Trip" option that allowed users to create carpool scenarios where they would do a trip weekly on selected days of the week.</br>
			</li>
			
			<li>
				<strong>Ride</strong></br>
				Rides are created when no trip meets a Ride Seeking User's criteria. Users may view these rides and accept passengers for trips they have created after their trip has been posted.</br>
			</li>
			
			<li>
				<strong>Rating</strong></br>
				This object was created but is not fully functional in the system. The plan is to have a Rating be associated with each user, and have each user profile display their rating (the average rating that they have received from other users).</br>
			</li>
		</ul>
	
	<h5>BACKEND SYSTEM</h5>
		<ul>
			<li>
				<strong>AppEngineInterface</strong></br>
				This class is able to communicate with the App Engine's Datastore via object queries that are transmitted in the form of JSON strings, making use of the Apache HTTP libraries.</br>
			</li>
			
			<li>
				<strong>Object Manager</strong></br>
				The Object manager also stores the functions that make use of the AppEngineInterface class, and it is this singleton class in which the class makes use of the GSON library to convert lists of JSON objects into usable data objects that can be used client-side. This class offers four functions to communicate with the backend: search, add, update, and delete, which execute the GET, POST, PUT, and DELETE methods of the server backend with data sent from the client to the server in the form of a JSON string. These functions would either return an object that has been bounced back from the server, e.g. in the case of an object being added to the Datastore, the add function returns a fully-defined object that includes the object's unique ID in the datastore and is thus able to be used within the client.
			</li>
			
			<li>
				<strong>Python backend</strong></br>
						The Python backend also holds definitions for the data object types, as well as classes for which the server executes the GET, POST, PUT, and DELETE methods for each type of object. Like the client, the server backend deals with JSON strings as well, and is able to convert a Python class object into a JSON string so that it can be exchanged between this Python-based server and the Java-based backend.</br>
			</li>
			
			<li>
				<strong>JSON</strong></br>
				The JSON format was really beneficial to speeding up the progress behind the backend code. Initially, we tried to use endpoints, however the methods that the Android and Google APIs provided us put us in a bit of a "blackbox" position, in which issues were extremely difficult to figure out without looking in-depth into how the auto-generated Google backend for the map was coded. Endpoints plagued the project with 503 errors for nearly a week, but when we decided to move to a JSON-based data transmission system, we were able to get something up and running within the same day.</br>
			</li>
		</ul>

			

<h3>CONCURRENCY ISSUES</h3>
<h4>Including any that were not handled.</h4>
Initially there were some issues with how to implement the database for the app. There were suggestions for something XML-based, however once the JSON-based backend began to come into fruition, the choice for the Google App Engine's Datastore eventually prevailed.</br>




<h3>POSSIBLE FUTURE CHANGES</h3>
Two examples of future changes that would easy, two that would be hard, and two that you think would be highly desirable (could be among the easy or hard ones).</br>

	<h4>Easy</h4>
		<ul>
			<li>
				Ratings</br>
				The object class is already set up and prepared for use. It would just need to be implemeneted in the user interface somewhere (possibly in the "My Trips/My Rides" pages that display each passenger/driver.</br>
			</li>
			
			<li>
				Flexible round trip options</br>
				At the moment, the round trip options are not really flexible, and the payment system is not robust enough to handle the situation in which a ROU would like to offer a weekly carpooling plan. More test cases could come out of this functionality.</br>
			</li>
		</ul>
	
	<h4>Hard</h4>
		<ul>
			<li>
				Finishing the "carpooling" functionality.</li>
				The menus are already created to support this functionality, but business logic would need to be modified so that for these specific trips multiple payments can be made for each day that the carpool is used.</br>
			</li>
			
			<li>
				Integrating the system with Google Maps API.</br>
				So that, searching for a trip could list results within a "X mile radius" of the desired departure/arrival location.</br>
			</li>
		</ul>
	<h4>Desirable</h4>
	<ul>
		<li>
			Both of the functions listed in the "Hard" category would be desirable for the users. This would allow the system to be more lenient with its ride matching in case someone is departing from somewhere very close to where a user may have searched for.The carpooling option would also be desirable because it would have an organized payment plan for the individuals in the carpool to get rid of confusion that cash handling may have.</br>
		</li>
		
		<li>
			Another desirable feature could be integration with social networking APIs to ease access to the service with existing accounts from, e.g. Facebook and/or Twitter.
		</li>
	</ul>


	
<h3>DESIGN FLAWS</h3>
</h4>Anything you believe to be a design flaw in the system.</h4>
	<ul>
		<li>
			Right now there is a design flaw that allows Users to remove passengers from their trip AFTER a passenger has already paid for the trip.</br>
		</li>
		
		<li>
			Also the text fields in the UI aren't flexible enough to user mistakes like misspelling and bad syntax. Typing down city locations is especially sensitive and unless the strings of the locations match exactly they won't show up on search.</br>
		</li>
		
		<li>
			Notifications don't differentiate between genders; unanimously regards everyone as a male.</br>
		</li>
		
		<li>
			Need to implement stricter fields, so that RSU's cannot leave important information about their trip empty</br>
		</li>
	</ul>
